* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

/* #telaPreparacao {
    display: none;  mudar dps
    position: absolute;
    background-color: rgba(0, 0, 0, 0.700);
}

#imgPreparacao {
    width: 50vh;
    height: 50vh;
    filter: invert(100%);
    margin-bottom: 0;
}

#textoPreparacao {
    font-size: 10vw;
    margin-top: 0;
} */

.container {
    background-color: green;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 91.04vh;
    height: 100vh;
}

#quadra {
    /* centralizacao */
    /* margin: 2%; */
    /* centralizacao */
    position: relative;
    background-color: green;
    width: 86.04%;           /* 91.044776119403% */
    height: 95%;          /* 100% */
}

#linhaCima {
    border: 3px solid white;
    position: absolute;
    width: 100%;
    height: 0;
}

#linhaDireita {
    border: 3px solid white;
    position: absolute;
    width: 0;
    height: 100%;
    left: 100%;
}

#linhaBaixo {
    border: 3px solid white;
    position: absolute;
    width: 100%;
    height: 0;
    top: 100%;
}

#linhaEsquerda {
    border: 3px solid white;
    position: absolute;
    width: 0;
    height: 100%;
}

#linhaSimplesEsquerda {
    border: 3px solid white;
    position: absolute;
    width: 0;
    height: 100%;
    left: 7.5409836065574%;
}

#linhaSimplesDireita {
    border: 3px solid white;
    position: absolute;
    width: 0;
    height: 100%;
    left: 92.459016393443%;
}

#linhaDuplaFundo {
    border: 3px solid white;
    position: absolute;
    width: 100%;
    height: 0;
    top: 88.65671641791%;
}

#linhaMeioSaque {
    border: 3px solid white;
    position: absolute;
    width: 0;
    height: 70.44776119403%;
    left: 50%;
    top: 29.55223880597%;
}

#linhaFrenteSaque {
    border: 3px solid white;
    position: absolute;
    width: 100%;
    height: 0;
    top:  29.55223880597%;
}

/* #peteca {
    display: flex;
    position: absolute;
    top: 35%;
    left: 44%;
    width: 10vh;
    height: 10vh;
}

#imgPosicao {
    display: none;
    width: 15vh;
    height: 15vh;
}

#petecaPosicao {
    width: 10vh;
    height: 10vh;
} */


/* BOTOES INTEGRADOS DENTRO DA QUADRA */
/* .botaoQuadra {
    position: absolute;
    width: 33.333%;
    height: 33.333%;
}

#um {
    top: 0%;
    left: 66.666%;
}

#dois {
    top: 0%;
    left: 33.333%;
}

#tres {
    top: 0%;
    left: 0%;
}

#quatro {
    top: 33.333%;
    left: 66.666%;
}

#meio {
    top: 33.333%;
    left: 33.333%;
}

#cinco {
    top: 33.333%;
    left: 0%;
}

#seis {
    top: 66.666%;
    left: 66.666%;
}

#sete {
    top: 66.666%;
    left: 33.333%;
}

#oito {
    top: 66.666%;
    left: 0%;
} */
/* BOTOES INTEGRADOS DENTRO DA QUADRA */

/* BOTOES CONFIGURACOES FORA DA QUADRA */
/* .btn-icons {
    flex-direction: row;
}

.btn-icons div {
    margin: 10px;
}

.btn-icons div svg {
    width: 40px;
    height: 40px;
} */
/* BOTOES CONFIGURACOES FORA DA QUADRA */

@media (min-width: 800px) {
    .treino {
        display: block;
    }

    /* .btn-treino {
        flex-direction: column;
    } */

    /* .btn-icons {
        flex-direction: column;
    } */
}





.metronomo {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    width: 91.04vh;
    margin: auto;
    border: 3px solid black;
}

.containerDots {
    display: flex;
    justify-content: center;
}

.grupoDots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    border: 1px solid red;
}

.containerDot {
    width: 60px;
    height: 60px;
    margin: 20px;
}

.containerDot .dot {
    background: linear-gradient(#fffc5d 0%, #fffd86 10%, #b5b200 50%, #615f00 100%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.containerDot .dotBefore {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(#fffc3f 10%, #dcd800 50%, #3e3d00 100%);
    transform: rotateZ(45deg);
    filter: blur(4px);
}

.containerDot svg {
    z-index: 1;
    color: white;
    display: none;
}

.containerDot .dotBefore:hover {
    transform: rotateZ(180deg);
}

.metronomo .containerCompasso { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px 0;
    position: relative;
    height: 50px;
}

.metronomo .containerCompasso .linha {
    border: 1px solid black;
    width: 70%;
}

.metronomo .containerCompasso .bola {
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    background-color: red;
    position: absolute;
    /* left: 80%; */
}

.metronomo .containerBpm {
    display: flex;
    margin: auto;
}

/* .metronomo .containerBpm .btnsSubtrair {

} */

.metronomo .containerBpm .menosUm, .menosCinco, .maisUm, .maisCinco {
    border: 2px solid black;
    padding: 2vw;
    margin: 10px;
}

/* CONTADOR */
.containerScroll {
    display: flex;
    flex-direction: row;
    width: 15vh;
    height: 30vh;
    border-radius: 3rem;
    border: solid 0.2rem #b2b2c2;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollport:before,
.scrollport:after {
    content: '';
}

.scrollport {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 9.4rem;
    height: 25vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.scrollport:before,
.scrollport:after,
.cell {
    display: block;
    scroll-snap-align: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e9e9f2;
    font-size: 5vh;
}

.selected {
    font-size: 7vh;
    font-weight: bold;
    color: #0073e6;
}

::-webkit-scrollbar{
    /* background-color: #1d1d1d;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    display: none;
}

/* ::-webkit-scrollbar-thumb {
    background-color: #5b5b5b;
    border-radius: 5px;
} */
/* CONTADOR */